.btn-wrap { 
  display: flex;
}
button {
  padding:0;
  margin:0;
  border-radius: 0.25em;
  &.btn { 
    flex: 1;
    & +.btn{
      margin-left:5px;
    }
  }
  &.btn-close {
    font-size:0;
    border:0;
    span {
      font-size:16px;
    }
  }
}