#menu {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-left: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(27, 31, 35, 0.1);
    background: #fff;
    z-index: 10;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    &.active {
        width: 300px;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .menu-header,
    .menu-title {
        display: flex;
        height: 40px;
        padding: 5%;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        background: #eff1f3;
    }
    .menu-header {
        justify-content: space-between;
        .btn {
            font-size: 0;
        }
    }
    .menu-container {
        .material-icons {
            font-size: 16px;
        }
    }
}

.activity-log {
    .log {
        padding: 5%;
        border-bottom: 1px solid #e5e5e5;
    }
    .log-time {
        margin-top: 5px;
        color: #999;
    }
}
