#todo-app {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.todo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.todo-columns {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  max-width: 375px;
  padding: 1%;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background: #eff1f3;
  & + .todo-columns {
    margin-left: 1%;
  }
}
.todo-form {
  
}

.todo-textarea {
  width:100%;
  height:100px;
  resize: vertical;
}

