#todo-app {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.todo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    .todo-count {
        display: inline-block;
        min-width: 22px;
        padding: 5px;
        margin-right: 5px;
        color: #333;
        text-align: center;
        border-radius: 10px;
        background: #ccc;
    }
    button {
        width: 18px;
        height: 18px;
        font-size: 0;
        background: #fff;
    }
}
.todo-columns {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    max-width: 375px;
    padding: 1%;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #eff1f3;
    & + .todo-columns {
        margin-left: 1%;
    }
    &:focus {
        border-color: #1a72e5;
        box-shadow: 0 0 0 0.2em rgba(26, 114, 229, 0.3);
    }
}
.todo-form {
    display: block;
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.3s;
    &.active {
        visibility: visible;
        height: auto;
        opacity: 1;
    }
    .btn-wrap {
        margin-top: 5px;
    }
    .btn {
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
    }
}
.todo-input {
    display: none;
    margin: 3px 0;
}
.todo-textarea {
    width: 100%;
    height: 100px;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 5px;
    resize: vertical;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    &.active {
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }
    .modal-wrap {
        position: relative;
        width: 500px;
        min-height: 300px;
        border-radius: 5px;
        background: #fff;
        .modal-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 15px;
            border-bottom: 1px solid #e5e5e5;
            border-radius: 5px 5px 0 0;
            background: #eff1f3;
            button {
                font-size: 0;
            }
        }
        .modal-contents {
            padding: 15px;
            p {
                font-size: 14px;
            }
            .todo-textarea {
                height: 200px;
                margin: 5px 0;
            }
            .btn-add {
                flex: none;
                padding: 0 20px;
                font-weight: bold;
                font-size: 14px;
                line-height: 30px;
            }
        }
    }
}